Repository vrc-get/vrc-get, pull requests merged in 2024-07, with the labels that each got.

#1185 Refactor and fix lint
  .github/workflows/lint.yml
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/async_command.rs
  vrc-get-gui/src/commands/environment.rs
  vrc-get-gui/src/commands/environment/config.rs
  vrc-get-gui/src/commands/environment/packages.rs
  vrc-get-gui/src/commands/environment/projects.rs
  vrc-get-gui/src/commands/environment/settings.rs
  vrc-get-gui/src/commands/project.rs
  vrc-get-gui/src/commands/start.rs
  vrc-get-gui/src/commands/state.rs
  vrc-get-gui/src/commands/util.rs
  vrc-get-gui/src/os_posix.rs
  vrc-get-gui/src/specta.rs
  vrc-get-vpm/src/environment/project_management.rs
  vrc-get-vpm/src/environment/unity_management.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/repository/remote.rs
  vrc-get-vpm/src/unity_project/upm_manifest.rs
  vrc-get-vpm/src/utils/mod.rs
  vrc-get-vpm/src/version/range.rs
  vrc-get-vpm/src/version/segment.rs
Labels: NO-CHANGELOG

#1202 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1201 Minor UI improvements
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/layout.tsx
  vrc-get-gui/app/log/page.tsx
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/app/settings/licenses/render-client.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/app/settings/palette/page.tsx
  vrc-get-gui/components/ScrollPageContainer.tsx
  vrc-get-gui/components/ScrollableCard.tsx
  vrc-get-gui/components/ScrollableCardTable.tsx
  vrc-get-gui/components/layout.tsx
Labels: NO-CHANGELOG

#1205 docs: add note that we require the latest version of rust and cargo-about
  vrc-get-gui/README.md
Labels: documentation

#1206 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1207 ci: updater beta is not published
  .github/workflows/publish-gui.yml
  CHANGELOG-gui.md
Labels: ci

#1208 ci: Reset notes incorrectly
  .github/workflows/publish-gui.yml
  vrc-get-gui/notes-beta.txt
  vrc-get-gui/notes.txt
Labels: ci

#1210 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1212 fix: some text on check for the update dialog is not localized correctly
  vrc-get-gui/components/CheckForUpdateMessage.tsx
Labels: NO-CHANGELOG

#1215 chore(l10n/zh_Hans): add miss key for #1200&#1204&#1209
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1216 fix: some content not localised correctly
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/zh_hans.json5
Labels: NO-CHANGELOG

#1217 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1218 chore: uncomment repository
  repositories.txt
Labels: NO-CHANGELOG

#1221 fix: finish page heading is not localized
  vrc-get-gui/app/(setup)/setup/finish/page.tsx
Labels: NO-CHANGELOG

#1220 chore(l10n): [de] update locale #1214
  vrc-get-gui/locales/de.json5
Labels: localization

#1222 User package management
  CHANGELOG-gui.md
  CHANGELOG.md
  vrc-get-gui/app/(main)/packages/page.tsx
  vrc-get-gui/app/(main)/repositories/page.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_hans.json5
  vrc-get-gui/notes-beta.txt
  vrc-get-gui/notes.txt
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/packages.rs
  vrc-get-gui/src/commands/state.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/settings.rs
  vrc-get-vpm/src/environment/uesr_package_collection.rs
  vrc-get/src/commands.rs
Labels: enhancement

#1225 fix: translation broken in SideBar.tsx
  vrc-get-gui/components/SideBar.tsx
Labels: NO-CHANGELOG

#1226 chore(l10n): [de] update locale #1222
  vrc-get-gui/locales/de.json5
Labels: localization

#1227 chore: changed icon for packages.
  vrc-get-gui/components/SideBar.tsx
Labels: NO-CHANGELOG

#1229 lint fixes
  .github/workflows/ci-gui.yml
  .github/workflows/lint.yml
  build-check-static-link/src/main.rs
  build-updater-json/src/main.rs
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/packages.rs
  vrc-get-gui/src/commands/start.rs
  vrc-get-gui/src/commands/util.rs
  vrc-get-gui/src/deep_link_support.rs
  vrc-get-litedb/src/error.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/repositories_file.rs
  vrc-get-vpm/src/utils/mod.rs
  vrc-get-vpm/tests/common/virtual_file_system.rs
  vrc-get-vpm/tests/remove_package.rs
  vrc-get/src/commands.rs
Labels: NO-CHANGELOG

#1228 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#1245 Updated French Localization
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
Labels: localization

#1247 chore(l10n): [zh_Hans] add & remove key for #1214 & #1222 and improved some translation
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1248 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1249 dev: move editorconfig to root
  .editorconfig
Labels: NO-CHANGELOG

#1252 Use custom scheme
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/Tauri.toml
  vrc-get-gui/app/(main)/settings/page.tsx
  vrc-get-gui/app/(setup)/setup/backups/page.tsx
  vrc-get-gui/app/(setup)/setup/finish/page.tsx
  vrc-get-gui/app/(setup)/setup/project-path/page.tsx
  vrc-get-gui/app/(setup)/setup/setup-page-base.tsx
  vrc-get-gui/app/(setup)/setup/system-setting/page.tsx
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/layout.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/components/VGTrans.tsx
  vrc-get-gui/components/common-setting-parts.tsx
  vrc-get-gui/components/providers.tsx
  vrc-get-gui/lib/global-info.ts
  vrc-get-gui/lib/i18n.ts
  vrc-get-gui/lib/os.ts
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/config.rs
  vrc-get-gui/src/commands/environment/packages.rs
  vrc-get-gui/src/commands/environment/settings.rs
  vrc-get-gui/src/commands/project.rs
  vrc-get-gui/src/commands/start.rs
  vrc-get-gui/src/commands/state.rs
  vrc-get-gui/src/commands/uri_custom_scheme.rs
  vrc-get-gui/src/commands/util.rs
  vrc-get-gui/src/config.rs
  vrc-get-gui/src/main.rs
  vrc-get-gui/src/os_linux.rs
  vrc-get-gui/src/os_macos.rs
  vrc-get-gui/src/os_posix.rs
  vrc-get-gui/src/os_windows.rs
Labels: NO-CHANGELOG

#1254 fix: not working on macos
  vrc-get-gui/src/commands/start.rs
Labels: NO-CHANGELOG

#1258 update locale ja / fix some part of en text
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: localization

#1271 fix: some gui problems
  vrc-get-gui/app/(main)/packages/page.tsx
  vrc-get-gui/app/(setup)/setup/unity-hub/page.tsx
  vrc-get-gui/locales/en.json5
Labels: localization

#1291 fix: anatawa12 typo
  CHANGELOG-gui.md
  vrc-get-gui/Tauri.toml
  vrc-get-gui/notes-beta.txt
  vrc-get-gui/notes.txt
  vrc-get-gui/src/deep_link_support.rs
Labels: NO-CHANGELOG

#1285 UI improvements
  vrc-get-gui/app/(main)/packages/repositories/page.tsx
  vrc-get-gui/app/(main)/packages/repositories/use-add-repository.tsx
  vrc-get-gui/app/(main)/packages/repositories/use-import-repositories.tsx
  vrc-get-gui/app/(main)/packages/tab-selector.tsx
  vrc-get-gui/app/(main)/packages/user-packages/page.tsx
  vrc-get-gui/app/(main)/projects/manage/unity-migration.tsx
  vrc-get-gui/app/(main)/settings/page.tsx
  vrc-get-gui/app/(setup)/setup/backups/page.tsx
  vrc-get-gui/app/(setup)/setup/project-path/page.tsx
  vrc-get-gui/app/(setup)/setup/setup-page-base.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/components/common-setting-parts.tsx
  vrc-get-gui/components/providers.tsx
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_hans.json5
Labels: NO-CHANGELOG

#1301 chore(l10n): [zh_Hans] update locales
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1311 chore(deps): upgrade locked dependencies
  Cargo.lock
Labels: dependencies, NO-CHANGELOG

#1312 build: configure dependabot groups
  .github/dependabot.yml
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#1319 lint: fix lint warnings added in rust 1.80
  vrc-get-gui/Cargo.toml
  vrc-get-vpm/src/unity_project.rs
Labels: NO-CHANGELOG

#1315 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#1318 fix: outdated `do_add_package_request` reference
  vrc-get-vpm/src/unity_project/add_package.rs
Labels: documentation

#1321 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1334 Refactor environment
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/app/(main)/projects/manage/use-package-change.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/config.rs
  vrc-get-gui/src/commands/environment/packages.rs
  vrc-get-gui/src/commands/environment/projects.rs
  vrc-get-gui/src/commands/environment/settings.rs
  vrc-get-gui/src/commands/project.rs
  vrc-get-gui/src/commands/start.rs
  vrc-get-gui/src/commands/state.rs
  vrc-get-gui/src/commands/uri_custom_scheme.rs
  vrc-get-gui/src/commands/util.rs
  vrc-get-gui/src/config.rs
  vrc-get-gui/src/main.rs
  vrc-get-gui/src/state.rs
  vrc-get-gui/src/state/changes.rs
  vrc-get-gui/src/state/config.rs
  vrc-get-gui/src/state/packages.rs
  vrc-get-gui/src/state/projects.rs
  vrc-get-gui/src/state/settings.rs
  vrc-get-gui/src/state/updater.rs
  vrc-get-gui/src/utils.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/litedb.rs
  vrc-get-vpm/src/environment/package_collection.rs
  vrc-get-vpm/src/environment/package_installer.rs
  vrc-get-vpm/src/environment/project_management.rs
  vrc-get-vpm/src/environment/repo_holder.rs
  vrc-get-vpm/src/environment/settings.rs
  vrc-get-vpm/src/environment/uesr_package_collection.rs
  vrc-get-vpm/src/environment/unity_management.rs
  vrc-get-vpm/src/environment/vpm_settings.rs
  vrc-get-vpm/src/environment/vrc_get_settings.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/repository/local.rs
  vrc-get-vpm/src/repository/remote.rs
  vrc-get-vpm/src/traits.rs
  vrc-get-vpm/src/unity_project/migrate_unity_2022.rs
  vrc-get-vpm/src/unity_project/migrate_vpm.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/unity_project/upm_manifest.rs
  vrc-get-vpm/src/unity_project/vpm_manifest.rs
  vrc-get-vpm/src/utils/mod.rs
  vrc-get-vpm/src/utils/save_controller.rs
  vrc-get-vpm/tests/common/virtual_environment.rs
  vrc-get/Cargo.toml
  vrc-get/src/commands.rs
  vrc-get/src/commands/info.rs
  vrc-get/src/commands/migrate.rs
  vrc-get/src/commands/vcc.rs
Labels: NO-CHANGELOG
