Repository vrc-get/vrc-get, pull requests merged in 2024-05, with the labels that each got.

#893 Fix CONTRIBUTING.md for ALCOM
  vrc-get-gui/CONTRIBUTING.md
Labels: documentation

#906 docs: add contributing guide link and update clone command
  CONTRIBUTING.md
  README.md
  vrc-get-gui/CONTRIBUTING.md
  vrc-get-gui/README.md
Labels: documentation

#910 chore(gui)(zh_CN):Update miss keys & remove excess keys
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#911 chore(l10n/ja): follow the updates
  vrc-get-gui/locales/ja.json5
Labels: localization

#912 German Translation: Updated.
  vrc-get-gui/locales/de.json5
Labels: localization

#907 Update Simplified Chinese translation
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#924 Fit French translations missing for the project.
  vrc-get-gui/locales/fr.json5
Labels: localization

#925 Fix EN localisation
  vrc-get-gui/locales/en.json5
Labels: localization

#913 docs(contributing): add translation guideline
  vrc-get-gui/CONTRIBUTING.md
Labels: documentation

#922 chore(i18n): fix locale key grammar
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/lib/backup-project.tsx
  vrc-get-gui/lib/remove-project.tsx
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_cn.json5
Labels: NO-CHANGELOG, localization

#929 chore(deps): upgrade cargo deps
  Cargo.lock
Labels: NO-CHANGELOG

#936 feat(gui): Separate Unity Hub source locales key
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#950 chore(l10n): [en] improve strings
  vrc-get-gui/locales/en.json5
Labels: vrc-get-gui, localization

#946 German Translation: Update #930
  vrc-get-gui/locales/de.json5
Labels: localization

#951 chore(l10n): [ja] improve strings and follow the updates
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#935 chore(gui)(zh_CN): Fix miss key
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#970 chore(gui): renamed zh_CN to zh_Hans
  .github/scripts/localization-updates.js
  vrc-get-gui/lib/i18n.ts
  vrc-get-gui/locales/zh_hans.json5
  vrc-get-gui/src/config.rs
Labels: NO-CHANGELOG

#973 "Custom" to "Custom Template"
  vrc-get-gui/locales/en.json5
Labels: localization

#974 chore(i18n/ja): Add missing keys
  vrc-get-gui/locales/ja.json5
Labels: localization

#971 chore(i18n/zh_hans): add miss key
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#978 `vcc:` support
  CHANGELOG-gui.md
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/Info.plist
  vrc-get-gui/app/log/page.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/components/providers.tsx
  vrc-get-gui/install-vcc-protocol.bat
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/lib/toast.ts
  vrc-get-gui/lib/use-tauri-listen.ts
  vrc-get-gui/locales/en.json5
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/deep_link_support.rs
  vrc-get-gui/src/main.rs
  vrc-get-gui/src/specta.rs
Labels: enhancement

#983 chore(i18n/zh_Hans): add miss key for #978
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#979 chore(l10n): [ja] update locale for #978
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#986 chore(l10n): [ja] chore spacing
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#987 upgrade litedb
  Cargo.lock
  vrc-get-gui/build.rs
  vrc-get-gui/build_target_info.rs
  vrc-get-gui/src/commands.rs
  vrc-get-vpm/Cargo.toml
  vrc-get-vpm/src/environment/project_management.rs
  vrc-get-vpm/src/environment/unity_management.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/version/unity_version.rs
  vrc-get/build.rs
  vrc-get/build_target_info.rs
  vrc-get/src/commands/vcc.rs
Labels: NO-CHANGELOG

#989 German translation: Add vcc scheme dialog support.
  vrc-get-gui/locales/de.json5
Labels: localization

#991 chore(gui): remove visual scripting from dependencies
  CHANGELOG-gui.md
  vrc-get-gui/templates/avatars-2022.3.22f1/Packages/manifest.json
  vrc-get-gui/templates/avatars-2022.3.6f1/Packages/manifest.json
  vrc-get-gui/templates/worlds-2022.3.22f1/Packages/manifest.json
  vrc-get-gui/templates/worlds-2022.3.6f1/Packages/manifest.json
Labels: bug

#996 fix(gui): do not use monospace with user input text
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_hans.json5
  vrc-get-gui/tailwind.config.ts
Labels: NO-CHANGELOG

#997 chore(i18n/zh_Hans): add miss key for #988
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#999 ci: use github app token for labeler
  .github/workflows/labeler.yml
Labels: ci

#1001 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#1005 docs(gui): add link to github actions build
  vrc-get-gui/README.md
Labels: documentation

#1002 chore(i18n): add unity version info for unity not found toast
  vrc-get-gui/lib/use-open-unity.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#1019 German translation: Update translation
  vrc-get-gui/locales/de.json5
Labels: localization

#1025 chore(deps): upgrade deps
  Cargo.lock
Labels: NO-CHANGELOG

#1043 chore(i18n/de): Add theme keys
  vrc-get-gui/locales/de.json5
Labels: localization

#1048 fix: opening manage project window would cause a VCC crash
  CHANGELOG-gui.md
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/src/commands.rs
Labels: bug

#1049 ci: enable devtools feature for ci builds of ALCOM
  .github/workflows/ci-gui.yml
Labels: ci

#1053 chore(i18n/de): add keys for #1046
  vrc-get-gui/locales/de.json5
Labels: localization

#1057 fix: early loading locale and theme with query parameter
  vrc-get-gui/components/providers.tsx
  vrc-get-gui/lib/i18n.ts
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/config.rs
Labels: bug, NO-CHANGELOG

#1058 chore(i18n/de): add missing keys.
  vrc-get-gui/locales/de.json5
Labels: localization

#1064 chore(l10n): [ja] update locale ja
  vrc-get-gui/locales/ja.json5
Labels: localization

#1067 chore(gui/i18n): add miss key
  vrc-get-gui/locales/zh_hans.json5
Labels: localization
