Repository vrc-get/vrc-get, pull requests merged in 2024-12, with the labels that each got.

#1743 lint: fix clippy error
  vrc-get-gui/src/state/changes.rs
Labels: refactor

#1752 Bump deps
  Cargo.lock
  vrc-get-gui/package-lock.json
Labels: dependencies, NO-CHANGELOG

#1764 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1763 docs: update README for ALCOM, adds Platform Version Policy and remove experimental
  vrc-get-gui/README.md
Labels: documentation

#1769 update locale ja / chore english message
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: localization

#1773 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1782 fix: tailwind-animate is added as runtime dependency
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#1797 Prepare for v1 release
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/booth/.gitignore
  vrc-get-gui/booth/LICENSE
  vrc-get-gui/booth/Makefile
  vrc-get-gui/booth/README.en.txt
  vrc-get-gui/booth/README.ja.txt
  vrc-get-gui/booth/README.md
  vrc-get-gui/booth/alcom-dark.png
  vrc-get-gui/booth/alcom-light.png
  vrc-get-gui/booth/booth-description.md
  vrc-get-gui/booth/embeder.mjs
  vrc-get-gui/booth/thumbnail.svg
  vrc-get-gui/booth/website.url
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/third-party/NotoSans-Italic-VariableFont_wdth,wght.ttf
  vrc-get-gui/third-party/NotoSans-OFL.txt
  vrc-get-gui/third-party/NotoSans-VariableFont_wdth,wght.ttf
Labels: NO-CHANGELOG

#1798 chore: show less message for check for update failure
  vrc-get-gui/src/commands.rs
Labels: NO-CHANGELOG

#1799 chore(deps): upgrade deps
  Cargo.lock
  vrc-get-gui/package-lock.json
Labels: dependencies, NO-CHANGELOG

#1800 chore: allow any version of lucide
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#1802 fix: toast with markup shown oddly
  vrc-get-gui/app/(main)/dev-palette/page.tsx
  vrc-get-gui/lib/toast.ts
Labels: NO-CHANGELOG
