Repository vrc-get/vrc-get, pull requests merged in 2024-06, with the labels that each got.

#1084 a little darker
  vrc-get-gui/app/globals.css
Labels: NO-CHANGELOG

#1085 refactor(gui): use useId
  vrc-get-gui/app/repositories/page.tsx
Labels: NO-CHANGELOG

#1087 FR Translation - Sorted JSON + Added missing keys
  vrc-get-gui/locales/fr.json5
Labels: localization

#1088 docs: add link to homepage
  vrc-get-gui/README.md
Labels: documentation

#1108 chore(i18n/de): Improved translations.
  vrc-get-gui/locales/de.json5
Labels: localization

#1110 build(litedb): disable bundle for ld compatibility
  vrc-get-litedb/build.rs
  vrc-get-litedb/build_target_info.rs
Labels: NO-CHANGELOG

#1119 fix: navvar width
  vrc-get-gui/components/layout.tsx
Labels: NO-CHANGELOG

#1128 chore(deps): upgrade litedb to 0.2.1
  Cargo.lock
  vrc-get-vpm/Cargo.toml
Labels: dependencies

#1130 chore(i18n/de): add missing keys.
  vrc-get-gui/locales/de.json5
Labels: localization

#1133 chore(i18n/zh_Hans): add miss key for #1127
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1139 Improve unity options
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/components/ReorderableList.tsx
  vrc-get-gui/lib/use-unity-selector-dialog.tsx
  vrc-get-gui/locales/en.json5
Labels: refactor, NO-CHANGELOG

#1145 fix: close cross on toast is invisible with dark theme
  vrc-get-gui/app/globals.css
Labels: NO-CHANGELOG

#1143 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization

#1146 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1147 Scroll bar dark mode
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/layout.tsx
  vrc-get-gui/app/log/page.tsx
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/manage/unity-migration.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/app/settings/licenses/render-client.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/app/settings/palette/page.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/components/ui/scroll-area.tsx
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#1170 Refactor common UI components
  vrc-get-gui/.editorconfig
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/log/page.tsx
  vrc-get-gui/app/projects/create-project.tsx
  vrc-get-gui/app/projects/manage/collect-package-row-info.ts
  vrc-get-gui/app/projects/manage/launch-settings.tsx
  vrc-get-gui/app/projects/manage/package-list-card.tsx
  vrc-get-gui/app/projects/manage/page-context.tsx
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/manage/unity-migration.tsx
  vrc-get-gui/app/projects/manage/use-package-change.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/projects/project-row.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/app/repositories/use-add-repository.tsx
  vrc-get-gui/app/settings/licenses/render-client.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/app/settings/palette/page.tsx
  vrc-get-gui/components/ReorderableList.tsx
  vrc-get-gui/components/ScrollableCard.tsx
  vrc-get-gui/components/ScrollableCardTable.tsx
  vrc-get-gui/components/ui/scroll-area.tsx
  vrc-get-gui/lib/assert-never.ts
  vrc-get-gui/lib/backup-project.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/lib/remove-project.tsx
  vrc-get-gui/lib/use-open-unity.tsx
  vrc-get-gui/lib/use-unity-selector-dialog.tsx
  vrc-get-gui/package.json
  vrc-get-gui/src/commands.rs
Labels: NO-CHANGELOG

#1172 chore(i18n/zh_Hans): add miss key
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1174 chore(deps): upgrade all locked deps
  Cargo.lock
Labels: dependencies, NO-CHANGELOG

#1175 ci: use GITHUB_TOKEN for cargo about installation
  .github/workflows/ci-gui.yml
  .github/workflows/publish-gui.yml
Labels: ci

#1182 build: change dev server port number
  vrc-get-gui/Tauri.toml
  vrc-get-gui/package.json
Labels: NO-CHANGELOG
