Repository vrc-get/vrc-get, pull requests merged in 2024-02, with the labels that each got.

#354 ci: do not update changelog with prerelease
  .github/workflows/publish.yml
Labels: ci

#355 ci: do not use changelog with prereleases
  .github/workflows/publish.yml
Labels: ci

#356 ci: fix changelog is used
  .github/workflows/publish.yml
Labels: ci

#357 ci: skipping changelog check for dependabot is not working
  .github/workflows/changelog-check.yml
Labels: ci

#358 Use boxed str or Path
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/repo_holder.rs
  vrc-get-vpm/src/environment/repo_source.rs
  vrc-get-vpm/src/environment/settings.rs
  vrc-get-vpm/src/environment/uesr_package_collection.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/package_json.rs
  vrc-get-vpm/src/repository/local.rs
  vrc-get-vpm/src/repository/remote.rs
  vrc-get-vpm/src/structs.rs
  vrc-get-vpm/src/traits.rs
  vrc-get-vpm/src/unity_project.rs
  vrc-get-vpm/src/unity_project/add_package.rs
  vrc-get-vpm/src/unity_project/find_legacy_assets.rs
  vrc-get-vpm/src/unity_project/package_resolution.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/unity_project/remove_package.rs
  vrc-get-vpm/src/unity_project/resolve.rs
  vrc-get-vpm/src/unity_project/upm_manifest.rs
  vrc-get-vpm/src/unity_project/vpm_manifest.rs
  vrc-get-vpm/src/utils/copy_recursive.rs
  vrc-get-vpm/src/version/identifier.rs
  vrc-get/src/commands.rs
  vrc-get/src/commands/info.rs
  vrc-get/src/commands/migrate.rs
Labels: refactor

#359 Wrap file io as trait
  vrc-get-vpm/Cargo.toml
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/empty.rs
  vrc-get-vpm/src/environment/repo_holder.rs
  vrc-get-vpm/src/environment/repo_source.rs
  vrc-get-vpm/src/environment/settings.rs
  vrc-get-vpm/src/environment/uesr_package_collection.rs
  vrc-get-vpm/src/environment/vrc_get_settings.rs
  vrc-get-vpm/src/io/mod.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/package_json.rs
  vrc-get-vpm/src/repository/remote.rs
  vrc-get-vpm/src/structs.rs
  vrc-get-vpm/src/traits.rs
  vrc-get-vpm/src/unity_project.rs
  vrc-get-vpm/src/unity_project/add_package.rs
  vrc-get-vpm/src/unity_project/call_unity.rs
  vrc-get-vpm/src/unity_project/find_legacy_assets.rs
  vrc-get-vpm/src/unity_project/migrate_unity_2022.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/unity_project/remove_package.rs
  vrc-get-vpm/src/unity_project/resolve.rs
  vrc-get-vpm/src/unity_project/upm_manifest.rs
  vrc-get-vpm/src/unity_project/vpm_manifest.rs
  vrc-get-vpm/src/utils/copy_recursive.rs
  vrc-get-vpm/src/utils/extract_zip.rs
  vrc-get-vpm/src/utils/mod.rs
  vrc-get-vpm/src/utils/sha256_async_write.rs
  vrc-get-vpm/src/version/version.rs
  vrc-get/Cargo.toml
  vrc-get/src/commands.rs
  vrc-get/src/commands/info.rs
  vrc-get/src/commands/migrate.rs
Labels: refactor

#362 chore: warn global config and ignoring official/curated repository as a experimental feature
  CHANGELOG.md
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/vrc_get_settings.rs
Labels: enhancement

#363 refactor: saving config
  vrc-get-vpm/src/environment/settings.rs
  vrc-get-vpm/src/environment/vrc_get_settings.rs
  vrc-get-vpm/src/unity_project/upm_manifest.rs
  vrc-get-vpm/src/unity_project/vpm_manifest.rs
  vrc-get-vpm/src/utils/mod.rs
  vrc-get-vpm/src/utils/save_controller.rs
Labels: refactor

#364 fix: error until we add some repository
  CHANGELOG.md
  vrc-get-vpm/src/environment.rs
Labels: bug

#365 fix: ignoring is experimental warning shown in incorrect condition
  CHANGELOG.md
  vrc-get-vpm/src/environment.rs
Labels: bug

#366 refactor: wrap process with io traits
  vrc-get-vpm/src/io/mod.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/src/unity_project.rs
  vrc-get-vpm/src/unity_project/call_unity.rs
Labels: refactor

#367 chore: unseal Io Traits
  vrc-get-vpm/src/io/mod.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/src/traits.rs
Labels: refactor

#370 ci: fix publish-litedb
  .github/workflows/publish-litedb.yml
Labels: ci

#372 fix: vrc-get-litedb doesn't include build.rs
  vrc-get-litedb/Cargo.toml
Labels: NO-CHANGELOG

#374 chore: next version is 1.6
  Cargo.lock
  vrc-get/Cargo.toml
Labels: NO-CHANGELOG

#379 fix typo
  README.md
Labels: NO-CHANGELOG

#380 chore: reimplemnent bootstrapper with rust
  Cargo.lock
  vrc-get-litedb/build.rs
  vrc-get-litedb/src/bootstrapper.rs
  vrc-get-litedb/src/connection.rs
  vrc-get-litedb/src/lib.rs
  vrc-get-vpm/Cargo.toml
  vrc-get/build.rs
Labels: NO-CHANGELOG

#397 chore(deps): remove memmap2 as a build-dependencies
  Cargo.lock
  vrc-get-litedb/Cargo.toml
Labels: NO-CHANGELOG

#401 chore(deps): upgrade vrc-get-litedb to 0.1.2
  Cargo.lock
  vrc-get-vpm/Cargo.toml
Labels: NO-CHANGELOG

#403 Upgrade improvements
  CHANGELOG.md
  vrc-get-vpm/src/unity_project/add_package.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/unity_project/resolve.rs
  vrc-get-vpm/tests/add_package_to_project.rs
Labels: bug

#406 feat: check zipSHA256 when using cache
  CHANGELOG.md
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/package_json.rs
Labels: enhancement

#407 feat: use our custom logging for default settings
  CHANGELOG.md
  Cargo.lock
  vrc-get/Cargo.toml
  vrc-get/src/main.rs
Labels: enhancement

#408 chore(deps): upgrade deps
  Cargo.lock
Labels: NO-CHANGELOG

#412 chore(litedb): IlcGenerateWin32Resources = false
  vrc-get-litedb/dotnet/vrc-get-litedb.csproj
Labels: NO-CHANGELOG

#413 chore(deps): upgrade vrc-get-litedb to 0.1.3
  Cargo.lock
  vrc-get-vpm/Cargo.toml
Labels: NO-CHANGELOG

#424 fix: crate name of vrc-get-gui is not vrc-get-gui
  Cargo.lock
  vrc-get-gui/Cargo.toml
Labels: NO-CHANGELOG

#425 build(gui): tauri cli is not installed
  .github/workflows/publish-gui.yml
Labels: NO-CHANGELOG

#426 build(gui): copying artifact work incorrectly
  .github/workflows/publish-gui.yml
  vrc-get-gui/Tauri.toml
Labels: NO-CHANGELOG

#428 build(gui): fix tag for release is not correct
  .github/workflows/publish-gui.yml
Labels: NO-CHANGELOG

#429 build(gui): dist-path not correct
  .github/workflows/publish-gui.yml
Labels: NO-CHANGELOG

#435 feat(gui): migrate 2019 to 2022
  CHANGELOG-gui.md
  vrc-get-gui/.taurignore
  vrc-get-gui/src/commands.rs
  vrc-get-gui/web/app/projects/manage/page.tsx
  vrc-get-gui/web/lib/bindings.ts
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/unity_project/call_unity.rs
  vrc-get-vpm/src/unity_project/migrate_unity_2022.rs
  vrc-get-vpm/src/version/unity_version.rs
  vrc-get/src/commands/migrate.rs
Labels: enhancement, vrc-get-gui

#438 Toast on installed or removed
  vrc-get-gui/web/app/projects/manage/page.tsx
  vrc-get-gui/web/components/providers.tsx
Labels: NO-CHANGELOG

#441 chore(cli): bump next version to 1.7.0
  Cargo.lock
  vrc-get/Cargo.toml
Labels: NO-CHANGELOG

#444 build(gui): make not latest explictly
  .github/workflows/publish-gui.yml
Labels: NO-CHANGELOG

#445 ci: configure dependabot for npm and github actions
  .github/dependabot.yml
Labels: NO-CHANGELOG

#463 docs: simplify brew installation and add more installation
  README.md
Labels: documentation

#465 fix: VCC crashes if vrc-get-gui is opened
  vrc-get-gui/src/commands.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/litedb.rs
Labels: NO-CHANGELOG

#469 fix toast and dialog
  CHANGELOG-gui.md
  vrc-get-gui/web/app/projects/manage/page.tsx
  vrc-get-gui/web/components/providers.tsx
  vrc-get-gui/web/lib/nop.ts
Labels: NO-CHANGELOG, vrc-get-gui

#471 docs(readme): add macports
  README.md
Labels: documentation

#472 issueテンプレートの設定
  .github/ISSUE_TEMPLATE/01_gui_bug-report.yml
  .github/ISSUE_TEMPLATE/02_gui_feature_request.yml
  .github/ISSUE_TEMPLATE/03_cli_bug-report.yml
  .github/ISSUE_TEMPLATE/04_cli_feature_request.yml
Labels: NO-CHANGELOG
