Repository vrc-get/vrc-get, pull requests merged in 2024-03, with the labels that each got.

#476 fix(gui): window name is not vrc-get-gui
  CHANGELOG-gui.md
  vrc-get-gui/Tauri.toml
Labels: vrc-get-gui

#483 Upgrade all
  CHANGELOG-gui.md
  vrc-get-gui/src/commands.rs
  vrc-get-gui/web/app/projects/manage/page.tsx
  vrc-get-gui/web/lib/bindings.ts
Labels: vrc-get-gui

#484 chore(gui): verion information in settings
  CHANGELOG-gui.md
  vrc-get-gui/src/commands.rs
  vrc-get-gui/web/app/settings/page.tsx
  vrc-get-gui/web/lib/bindings.ts
Labels: vrc-get-gui

#480 Fix English grammar
  README.md
Labels: documentation

#485 notice that vrc-get vcc is experimental
  CHANGELOG.md
  vrc-get/src/commands.rs
  vrc-get/src/commands/migrate.rs
Labels: vrc-get cli

#487 ci: rename jobs for gui ci
  .github/workflows/ci-gui.yml
Labels: ci

#489 ci(gui): fix changelog is not generated for prereleases
  .github/workflows/publish-gui.yml
Labels: ci

#493 Fix log file
  CHANGELOG-gui.md
  vrc-get-gui/src/logging.rs
Labels: vrc-get-gui

#495 Prereleases for gui
  CHANGELOG-gui.md
  vrc-get-gui/src/commands.rs
  vrc-get-gui/web/app/projects/manage/page.tsx
  vrc-get-gui/web/lib/bindings.ts
  vrc-get-gui/web/lib/version.ts
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/settings.rs
Labels: vrc-get-gui

#496 chore(gui): show version name on the left menu
  CHANGELOG-gui.md
  vrc-get-gui/web/app/settings/page.tsx
  vrc-get-gui/web/components/SideBar.tsx
Labels: vrc-get-gui

#497 Refactor gui directory
  .github/workflows/ci-gui.yml
  .github/workflows/publish-gui.yml
  vrc-get-gui/.eslintrc.json
  vrc-get-gui/.gitignore
  vrc-get-gui/.taurignore
  vrc-get-gui/README.md
  vrc-get-gui/Tauri.toml
  vrc-get-gui/app/favicon.ico
  vrc-get-gui/app/fonts.ts
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/layout.tsx
  vrc-get-gui/app/log/page.tsx
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/components/SearchBox.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/components/layout.tsx
  vrc-get-gui/components/providers.tsx
  vrc-get-gui/components/select.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/lib/nop.ts
  vrc-get-gui/lib/open-unity.ts
  vrc-get-gui/lib/shellOpen.ts
  vrc-get-gui/lib/unsupported.ts
  vrc-get-gui/lib/version.ts
  vrc-get-gui/next.config.mjs
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/postcss.config.js
  vrc-get-gui/public/next.svg
  vrc-get-gui/public/vercel.svg
  vrc-get-gui/src/commands.rs
  vrc-get-gui/tailwind.config.ts
  vrc-get-gui/tsconfig.json
  vrc-get-gui/web/.gitignore
  vrc-get-gui/web/.taurignore
Labels: ci

#498 ci: disable automatic homebrew distribution
  .github/workflows/publish.yml
Labels: ci

#499 docs(readme): add readme for vrc-get-gui
  README.md
  vrc-get-gui/README.md
Labels: documentation

#504 License Page
  .github/workflows/ci-gui.yml
  .github/workflows/publish-gui.yml
  CHANGELOG-gui.md
  vrc-get-gui/.gitignore
  vrc-get-gui/.taurignore
  vrc-get-gui/Cargo.toml
  vrc-get-gui/README.md
  vrc-get-gui/about.toml
  vrc-get-gui/app/settings/licenses/page.tsx
  vrc-get-gui/app/settings/licenses/render-client.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/build.d.ts
  vrc-get-gui/lib/licenses.ts
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/scripts/build-license-json.mjs
  vrc-get-gui/tsconfig.json
Labels: vrc-get-gui

#507 fix(gui): we can lick upgrade button while installing
  CHANGELOG-gui.md
  vrc-get-gui/app/projects/manage/page.tsx
Labels: vrc-get-gui

#509 ci: publish to homebrew
  .github/workflows/publish.yml
Labels: ci

#520 ci(gui): build universal binary
  .github/workflows/ci-gui.yml
  .github/workflows/publish-gui.yml
  CHANGELOG-gui.md
Labels: vrc-get-gui

#521 feat(gui): remove project and remove directory
  CHANGELOG-gui.md
  vrc-get-gui/.eslintrc.json
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/src/commands.rs
Labels: vrc-get-gui

#522 feat(gui): migrate a copy
  CHANGELOG-gui.md
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/src/commands.rs
Labels: vrc-get-gui

#523 chore(gui): use local time for timestamp on the log file
  CHANGELOG-gui.md
  vrc-get-gui/src/logging.rs
Labels: vrc-get-gui

#526 chore(gui): make "Remove from List" default color
  CHANGELOG-gui.md
  vrc-get-gui/app/projects/page.tsx
Labels: vrc-get-gui

#527 Fix some phrases and grammatical errors
  README.md
Labels: documentation

#535 ci(dependabot): npm path
  .github/dependabot.yml
Labels: ci

#545 issue templateの対象projectを修正
  .github/ISSUE_TEMPLATE/01_gui_bug-report.yml
  .github/ISSUE_TEMPLATE/02_gui_feature_request.yml
Labels: NO-CHANGELOG

#560 docs(readme): add more badges and fix wording
  README.md
Labels: documentation

#561 ci(publish-gui): fix move command is incorrect
  .github/workflows/publish-gui.yml
Labels: ci

#562 Fix release
  .github/workflows/publish-gui.yml
Labels: ci

#563 ci(publish-gui): fix updater json {version} is not replaced
  build-updater-json/src/main.rs
Labels: ci

#564 Fix release
  .github/workflows/publish-gui.yml
  build-updater-json/src/main.rs
Labels: ci

#565 ci(publish-gui): fix permission in pull-request-to-website
  .github/workflows/publish-gui.yml
Labels: ci

#566 ci(publish-gui): fix permission in pull-request-to-website (attempt2)
  .github/workflows/publish-gui.yml
Labels: ci

#567 ci(publish-gui): fix upating json
  .github/workflows/publish-gui.yml
Labels: ci

#568 chore(gui): Show "Not Selected" instead of "none" if the corresponding repositories are not selected
  CHANGELOG-gui.md
  vrc-get-gui/app/projects/manage/page.tsx
Labels: vrc-get-gui

#580 Migrate legacy to VCC
  CHANGELOG-gui.md
  CHANGELOG.md
  Cargo.lock
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/src/commands.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/repository/remote.rs
  vrc-get-vpm/src/traits.rs
  vrc-get-vpm/src/unity_project.rs
  vrc-get-vpm/src/unity_project/add_package.rs
  vrc-get-vpm/src/unity_project/find_legacy_assets.rs
  vrc-get-vpm/src/unity_project/migrate_unity_2022.rs
  vrc-get-vpm/src/unity_project/migrate_vpm.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/tests/add_package_to_project.rs
  vrc-get/Cargo.toml
  vrc-get/src/commands.rs
  vrc-get/src/commands/migrate.rs
Labels: enhancement, vrc-get-gui, vrc-get-vpm, vrc-get cli

#584 chore(litedb): copy libraries instead of symlink
  vrc-get-litedb/dotnet/vrc-get-litedb.csproj
Labels: NO-CHANGELOG

#583 ci updates
  .github/workflows/ci-gui.yml
  .github/workflows/ci.yml
  Cargo.lock
  vrc-get-vpm/Cargo.toml
Labels: ci

#586 fix(vpm): legacy projects cannot be added to the project list
  CHANGELOG-gui.md
  CHANGELOG.md
  vrc-get-vpm/src/unity_project.rs
Labels: bug, vrc-get-gui, vrc-get-vpm, vrc-get cli

#588 build improvements
  .github/workflows/ci-gui.yml
  .github/workflows/publish-gui.yml
  vrc-get-gui/scripts/build-license-json.mjs
Labels: ci

#589 Refactors
  build-check-static-link/.taurignore
  build-updater-json/.taurignore
  vrc-get-gui/.taurignore
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/src/cmd_start_basic.rs
  vrc-get-gui/src/cmd_start_win.rs
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/main.rs
  vrc-get/.taurignore
Labels: NO-CHANGELOG

#591 chore(deps): upgrade dependencies
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-vpm/Cargo.toml
  vrc-get/Cargo.toml
Labels: NO-CHANGELOG

#592 ci(gui): fix build parameter
  .github/workflows/publish-gui.yml
Labels: ci

#605 Fix unity 2018
  CHANGELOG-gui.md
  CHANGELOG.md
  vrc-get-gui/src/commands.rs
  vrc-get-vpm/Cargo.toml
  vrc-get-vpm/src/environment/unity_management.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/unity.rs
  vrc-get-vpm/src/unity_hub.rs
  vrc-get/src/commands/vcc.rs
Labels: vrc-get-vpm

#607 Preserve Window Size
  CHANGELOG-gui.md
  CHANGELOG.md
  vrc-get-gui/Tauri.toml
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/config.rs
  vrc-get-gui/src/logging.rs
  vrc-get-gui/src/main.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/vrc_get_settings.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/src/utils/save_controller.rs
Labels: enhancement, vrc-get-gui

#608 fix(gui): bad behavior with trying installing the installed version
  CHANGELOG-gui.md
  vrc-get-gui/app/projects/manage/page.tsx
Labels: bug, vrc-get-gui

#625 Update en.json5
  vrc-get-gui/locales/en.json5
Labels: NO-CHANGELOG

#674 一部の表記修正と日本語対応
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/lib/i18n.ts
  vrc-get-gui/lib/open-unity.ts
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#692 ci: disable auto publish-to-brew
  .github/workflows/publish.yml
Labels: ci

#694 fix: shown language name is not changed
  CHANGELOG-gui.md
  vrc-get-gui/app/settings/page.tsx
Labels: bug
