Repository vrc-get/vrc-get, pull requests merged in 2024-04, with the labels that each got.

#700 chore(deps): upgrade all
  Cargo.lock
Labels: NO-CHANGELOG

#706 docs(readme): add install using winget
  README.md
Labels: documentation

#707 ci: add action to publish release to winget-pkgs
  .github/workflows/publish-cli-winget.yml
  .github/workflows/publish.yml
Labels: ci

#708 ci: fix syntax error
  .github/workflows/publish-cli-winget.yml
Labels: ci

#709 ci: fix powershell syntax error
  .github/workflows/publish-cli-winget.yml
Labels: ci

#710 ci: wingetcreate doesn't accept --urls multiple times, accepts multiple urls with one --urls
  .github/workflows/publish-cli-winget.yml
Labels: ci

#712 fix: migration to 2022 fails with compilation error
  CHANGELOG-gui.md
  vrc-get-gui/src/commands.rs
Labels: bug

#715 ci: include commit hash in ci build
  .github/workflows/ci-gui.yml
  .github/workflows/ci.yml
Labels: ci

#717 Favorites and Sortings
  CHANGELOG-gui.md
  vrc-get-gui/app/globals.css
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/lib/bindings.ts
  vrc-get-gui/lib/version.ts
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/config.rs
  vrc-get-vpm/src/environment/project_management.rs
Labels: enhancement

#726 feat(gui): remove old logs
  CHANGELOG-gui.md
  vrc-get-gui/src/logging.rs
Labels: vrc-get-gui

#728 Add initial Contributing proposal
  CONTRIBUTING.md
Labels: documentation

#723 fix(gui): last modified is not localized
  CHANGELOG-gui.md
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: localization

#724 Tooltip localization
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: localization

#737 docs(contributing-md): fix broken paths on the web
  CONTRIBUTING.md
Labels: documentation

#725 Repository management improvements
  CHANGELOG-gui.md
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/components/InputNoLabel.tsx
  vrc-get-gui/components/SearchBox.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui

#741 Fix some documentations
  vrc-get-litedb/README.md
  vrc-get-vpm/README.md
Labels: documentation

#750 Relax package json validation for local packages
  CHANGELOG-gui.md
  CHANGELOG.md
  vrc-get-gui/src/commands.rs
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/uesr_package_collection.rs
  vrc-get-vpm/src/lib.rs
  vrc-get-vpm/src/package_json/common.rs
  vrc-get-vpm/src/package_json/mod.rs
  vrc-get-vpm/src/package_json/package_json.rs
  vrc-get-vpm/src/package_json/package_manifest.rs
  vrc-get-vpm/src/package_manifest/mod.rs
  vrc-get-vpm/src/package_manifest/partial_unity_version.rs
  vrc-get-vpm/src/package_manifest/yank_state.rs
  vrc-get-vpm/src/unity_project.rs
Labels: enhancement

#759 chore(deps): upgrade async_zip to 0.0.17
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-vpm/Cargo.toml
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/utils/extract_zip.rs
Labels: dependencies, NO-CHANGELOG

#763 feat(gui): upgrade cargo deps
  Cargo.lock
Labels: NO-CHANGELOG

#767 chore(gui)(ja/en): add i18n text "language"
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#765 Add Simplified Chinese localisation
  CHANGELOG-gui.md
  vrc-get-gui/lib/i18n.ts
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#808 chore(gui)(zh_cn): fix incorrect variable placeholders
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#822 fix incorrect Simplified Chinese localization
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#787 Whole Localize Key Changes and Fix #751, etc.
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/app/repositories/page.tsx
  vrc-get-gui/app/settings/page.tsx
  vrc-get-gui/components/SearchBox.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/lib/backup-project.tsx
  vrc-get-gui/lib/open-unity.ts
  vrc-get-gui/lib/remove-project.tsx
  vrc-get-gui/lib/unsupported.ts
  vrc-get-gui/lib/use-file-picker-dialog.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#841 German translation: Bulk messages #819
  vrc-get-gui/locales/de.json5
Labels: localization

#847 fix(gui): missing features
  Cargo.lock
  vrc-get-gui/Cargo.toml
Labels: NO-CHANGELOG

#846 feat: add panic handler that outputs to the log instead of stderr
  CHANGELOG-gui.md
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/src/main.rs
Labels: enhancement

#848 Titles to camel case
  vrc-get-gui/locales/en.json5
Labels: localization

#856 add CI to track missing localization keys
  .github/labeler.yml
  .github/scripts/.gitignore
  .github/scripts/localization-updates.js
  .github/scripts/package.json
  .github/workflows/labeler.yml
  .github/workflows/localization-updates.yml
  CONTRIBUTING.md
  vrc-get-gui/CONTRIBUTING.md
  vrc-get-gui/lib/i18n.ts
Labels: ci

#858 ci: configure permission
  .github/workflows/localization-updates.yml
Labels: ci

#857 chore(gui/ja): update locale
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#859 ci: fix message if extraKeys is empty
  .github/scripts/localization-updates.js
Labels: ci

#861 ci: add configuration for German Localization updates
  .github/scripts/localization-updates.js
Labels: ci

#862 cocs(contributing): add script for getting comment id
  vrc-get-gui/CONTRIBUTING.md
Labels: documentation

#866 chore(gui)(zh_cn): fix incorrect variable placeholders
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#865 Improve Visibility of Search Placeholder and Vertical Alignment of Suggestion Text
  vrc-get-gui/app/projects/manage/page.tsx
  vrc-get-gui/components/SearchBox.tsx
Labels: NO-CHANGELOG

#868 German translation: General update.
  vrc-get-gui/locales/de.json5
Labels: localization

#869 feat(gui): add project display type "sdk2"
  CHANGELOG-gui.md
  vrc-get-gui/app/projects/page.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: enhancement, vrc-get-gui

#876 German translation: Add "projects:type:sdk2"
  vrc-get-gui/locales/de.json5
Labels: localization

#870 chore(gui)(zh_cn): Update miss key
  vrc-get-gui/locales/zh_cn.json5
Labels: localization

#889 ci: add configuration for Simplified Chinese updates
  .github/scripts/localization-updates.js
Labels: ci
