Repository vrc-get/vrc-get, pull requests merged in 2024-10, with the labels that each got.

#1560 chore(l10n): [zh_Hans] update for #1559
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1566 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1567 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1568 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#1564 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization

#1578 fix: correct typo
  vrc-get-gui/locales/en.json5
Labels: localization

#1582 general localization improvements
  vrc-get-gui/lib/use-open-unity.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#1583 ci: do not update CHANGELOG.md with beta releases
  .github/workflows/publish-gui.yml
Labels: ci

#1584 docs: write notes.txt
  vrc-get-gui/notes-beta.txt
  vrc-get-gui/notes.txt
Labels: documentation

#1585 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1577 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1587 chore(deps): bump deps (including tauri v2 stable)
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/src/commands/uri_custom_scheme.rs
  vrc-get-gui/src/commands/util.rs
Labels: dependencies, NO-CHANGELOG

#1593 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization

#1599 Update French Translations
  vrc-get-gui/locales/fr.json5
Labels: localization

#1650 ci: exclude litedb from testing
  .github/workflows/ci.yml
  vrc-get-litedb/src/connection_string.rs
  vrc-get-vpm/src/package_manifest/yank_state.rs
  vrc-get-vpm/src/repository/remote.rs
  vrc-get-vpm/src/unity_project/package_resolution.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/utils/crlf_json_formatter.rs
  vrc-get-vpm/src/utils/deup_deserializer.rs
  vrc-get-vpm/src/version/parsing_buf.rs
  vrc-get-vpm/src/version_selector.rs
  vrc-get/src/commands.rs
  vrc-get/src/commands/migrate.rs
Labels: NO-CHANGELOG

#1658 Update l10n ja
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: localization

#1659 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1660 chore(l10n): [zh_Hans] update locale for #1653
  vrc-get-gui/locales/zh_hans.json5
Labels: localization
