Repository vrc-get/vrc-get, pull requests merged in 2024-08, with the labels that each got.

#1362 chore: remove AppImage paths from all environment variables
  CHANGELOG-gui.md
  vrc-get-gui/src/os_linux.rs
Labels: p:linux

#1365 fix: panic with ChangesState
  vrc-get-gui/src/main.rs
Labels: NO-CHANGELOG

#1368 Update deps
  Cargo.lock
  build-check-static-link/Cargo.toml
  build-updater-json/Cargo.toml
  update-deps.sh
  vrc-get-gui/Cargo.toml
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/src/state/packages.rs
  vrc-get-gui/src/state/projects.rs
  vrc-get-litedb/Cargo.toml
  vrc-get-vpm/Cargo.toml
  vrc-get/Cargo.toml
Labels: NO-CHANGELOG

#1370 fix: sometimes fails to load litedb due to opening same file multiple time
  Cargo.lock
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/projects.rs
  vrc-get-gui/src/commands/environment/settings.rs
  vrc-get-gui/src/commands/project.rs
  vrc-get-gui/src/commands/start.rs
  vrc-get-vpm/Cargo.toml
  vrc-get-vpm/src/environment/litedb.rs
  vrc-get-vpm/src/io/mod.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/tests/common/virtual_file_system.rs
  vrc-get/src/commands.rs
  vrc-get/src/commands/migrate.rs
  vrc-get/src/commands/vcc.rs
Labels: NO-CHANGELOG

#1371 fix: default command-line arguments edit window default value is empty
  vrc-get-gui/lib/global-info.ts
Labels: NO-CHANGELOG

#1382 ci: add dry-run
  .github/workflows/publish-gui.yml
  vrc-get-gui/scripts/build-license-json.mjs
Labels: NO-CHANGELOG

#1330 Reorder localization keys, Change some categorization of keys
  vrc-get-gui/app/(main)/projects/manage/unity-migration.tsx
  vrc-get-gui/app/(main)/settings/page.tsx
  vrc-get-gui/components/common-setting-parts.tsx
  vrc-get-gui/lib/use-open-unity.tsx
  vrc-get-gui/lib/use-unity-selector-dialog.tsx
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_hans.json5
Labels: vrc-get-gui, localization

#1385 fix: hydration error
  vrc-get-gui/app/(main)/settings/page.tsx
  vrc-get-gui/lib/global-info.ts
Labels: NO-CHANGELOG

#1390 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1392 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1394 chore(deps): update deps
  Cargo.lock
  vrc-get-gui/package-lock.json
Labels: NO-CHANGELOG

#1395 ci: workaround github actions bug?
  .github/workflows/publish-gui.yml
Labels: NO-CHANGELOG

#1397 Updated French Translations from 0.1.14
  vrc-get-gui/locales/fr.json5
Labels: localization

#1398 Bump deps (stable tauri v2 rc)
  .github/workflows/ci-gui.yml
  .github/workflows/publish-gui.yml
  Cargo.lock
  Cargo.toml
  vrc-get-gui/Cargo.toml
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#1409 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1411 fix: missing space between card title and card body
  vrc-get-gui/app/(main)/settings/page.tsx
Labels: NO-CHANGELOG

#1413 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1416 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization

#1417 chore(l10n): [*] remove unused keys
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/fr.json5
  vrc-get-gui/locales/ja.json5
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1444 docs: improve CONTRIBUTING.md
  CONTRIBUTING.md
  vrc-get-gui/CONTRIBUTING.md
  vrc-get-litedb/CONTRIBUTING.md
Labels: documentation

#1445 chore(deps): upgrade deps
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#1426 French-translation
  vrc-get-gui/locales/fr.json5
Labels: localization

#1418 chore: update issue template
  .github/ISSUE_TEMPLATE/01_gui_bug-report.yml
Labels: NO-CHANGELOG

#1453 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1454 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#1455 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1460 fix: add repository dialog small fixes
  vrc-get-gui/app/(main)/packages/repositories/use-add-repository.tsx
Labels: NO-CHANGELOG

#1461 chore(l10n): [de] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#1462 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization
