Repository vrc-get/vrc-get, pull requests merged in 2025-01, with the labels that each got.

#1816 review french translations and add missing keys
  vrc-get-gui/locales/fr.json5
Labels: localization

#1820 Add badges to alcom readme
  vrc-get-gui/README.md
Labels: documentation

#1839 style: fix new clippy lints
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/projects.rs
Labels: NO-CHANGELOG

#1838 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#1858 fix: failed to build without git
  vrc-get-gui/build.rs
Labels: NO-CHANGELOG

#1860 chore(I10n): [ko] update locale
  vrc-get-gui/locales/ko.json5
Labels: localization
