Repository vrc-get/vrc-get, pull requests merged in 2025-05, with the labels that each got.

#2133 chore(l10n): [ja] update locale
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: localization

#2134 chore(l10n): [de_DE] updated keys for templates
  vrc-get-gui/locales/de.json5
Labels: localization

#2148 chore(deps): use upstream tauri instead of our fork
  Cargo.lock
  Cargo.toml
Labels: dependencies, NO-CHANGELOG

#2161 chore(deps): update deps
  Cargo.lock
  vrc-get-gui/package-lock.json
  vrc-get-gui/scripts/vite-build-license-json.ts
Labels: dependencies, NO-CHANGELOG

#2162 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#2166 chore(l10n): [de_DE] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#2103 fix: log page auto scroll is broken
  vrc-get-gui/app/_main/log/-logs-list-card.tsx
  vrc-get-gui/app/_main/log/index.tsx
Labels: NO-CHANGELOG

#2172 Rust 1.87
  vrc-get-gui/src/commands/environment/unity_hub.rs
  vrc-get-gui/src/os_linux.rs
  vrc-get-gui/src/os_macos.rs
  vrc-get-gui/src/os_windows.rs
  vrc-get-gui/src/templates.rs
  vrc-get-gui/src/utils.rs
  vrc-get-vpm/src/environment/vpm_settings.rs
  vrc-get-vpm/src/unity_hub/os.rs
Labels: NO-CHANGELOG

#2188 fix: deprecated type name
  vrc-get-gui/src/os_macos.rs
Labels: NO-CHANGELOG

#2189 chore(l10n): [de_DE] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#2190 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#2195 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization

#2196 chore(l10n): [en] fix typo
  vrc-get-gui/locales/en.json5
Labels: localization

#2197 chore: do not reset package selection after package list update
  vrc-get-gui/app/_main/projects/manage/-package-list-card.tsx
Labels: NO-CHANGELOG

#2198 ci: change release notes shown on ALCOM to link to changelog
  .github/workflows/publish-gui.yml
  build-updater-json/src/main.rs
  vrc-get-gui/notes-beta.txt
  vrc-get-gui/notes.txt
Labels: NO-CHANGELOG

#2199 chore: next version should be 1.1.0
  Cargo.lock
  vrc-get-gui/Cargo.toml
Labels: NO-CHANGELOG

#2216 chore: migrate cocoa to objc2_foundation
  Cargo.lock
  vrc-get-gui/Cargo.toml
  vrc-get-gui/src/os_macos.rs
Labels: NO-CHANGELOG

#2217 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization
