Repository vrc-get/vrc-get, pull requests merged in 2025-04, with the labels that each got.

#2056 chore(deps): bump deps
  Cargo.lock
  vrc-get-gui/package-lock.json
  vrc-get-vpm/Cargo.toml
Labels: dependencies, NO-CHANGELOG

#2047 chore(I10n): [ko_KR] update locale
  vrc-get-gui/locales/ko.json5
Labels: localization

#2120 Remove io traits
  vrc-get-gui/Cargo.toml
  vrc-get-gui/src/commands.rs
  vrc-get-gui/src/commands/environment/templates.rs
  vrc-get-gui/src/commands/uri_custom_scheme.rs
  vrc-get-gui/src/logging.rs
  vrc-get-gui/src/state/config.rs
  vrc-get-gui/src/templates.rs
  vrc-get-vpm/Cargo.toml
  vrc-get-vpm/src/environment.rs
  vrc-get-vpm/src/environment/litedb.rs
  vrc-get-vpm/src/environment/package_collection.rs
  vrc-get-vpm/src/environment/package_installer.rs
  vrc-get-vpm/src/environment/project_management.rs
  vrc-get-vpm/src/environment/repo_holder.rs
  vrc-get-vpm/src/environment/settings.rs
  vrc-get-vpm/src/environment/uesr_package_collection.rs
  vrc-get-vpm/src/environment/unity_management.rs
  vrc-get-vpm/src/environment/vpm_settings.rs
  vrc-get-vpm/src/environment/vrc_get_settings.rs
  vrc-get-vpm/src/io/mod.rs
  vrc-get-vpm/src/io/tokio.rs
  vrc-get-vpm/src/traits.rs
  vrc-get-vpm/src/unity_project.rs
  vrc-get-vpm/src/unity_project/add_package.rs
  vrc-get-vpm/src/unity_project/find_legacy_assets.rs
  vrc-get-vpm/src/unity_project/migrate_unity_2022.rs
  vrc-get-vpm/src/unity_project/migrate_vpm.rs
  vrc-get-vpm/src/unity_project/pending_project_changes.rs
  vrc-get-vpm/src/unity_project/project_type.rs
  vrc-get-vpm/src/unity_project/reinstall.rs
  vrc-get-vpm/src/unity_project/remove_package.rs
  vrc-get-vpm/src/unity_project/resolve.rs
  vrc-get-vpm/src/unity_project/upm_manifest.rs
  vrc-get-vpm/src/unity_project/vpm_manifest.rs
  vrc-get-vpm/src/utils/extract_zip.rs
  vrc-get-vpm/tests/add_package_to_project.rs
  vrc-get-vpm/tests/common/mod.rs
  vrc-get-vpm/tests/common/virtual_environment.rs
  vrc-get-vpm/tests/common/virtual_file_system.rs
  vrc-get-vpm/tests/common/virtual_project_builder.rs
  vrc-get-vpm/tests/reading_project.rs
  vrc-get-vpm/tests/remove_package.rs
  vrc-get-vpm/tests/resolve_project.rs
  vrc-get-vpm/tests/vfs_test.rs
  vrc-get/Cargo.toml
  vrc-get/src/commands.rs
Labels: NO-CHANGELOG

#2127 feat: prevent double-launching unity by double-clicking open unity button
  vrc-get-gui/app/_main/projects/-project-row.tsx
  vrc-get-gui/app/_main/projects/manage/index.tsx
  vrc-get-gui/components/OpenUnityButton.tsx
Labels: NO-CHANGELOG
