Repository vrc-get/vrc-get, pull requests merged in 2025-07, with the labels that each got.

#2377 remove svgo dep and update npm deps
  vrc-get-gui/installer.nsi
  vrc-get-gui/lib/routeTree.gen.ts
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/scripts/vite-build-license-json.ts
Labels: NO-CHANGELOG

#2378 ci: set concurrency for publish actions
  .github/workflows/publish-gui.yml
  .github/workflows/publish.yml
Labels: NO-CHANGELOG, dev

#2379 chore(deps): use litedb from crates.io
  Cargo.lock
  vrc-get-vpm/Cargo.toml
Labels: NO-CHANGELOG

#2402 chore(l10n): [zh_hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization
