Repository vrc-get/vrc-get, pull requests merged in 2025-03, with the labels that each got.

#1952 chore(deps): upgrade deps
  Cargo.lock
  vrc-get-gui/package-lock.json
Labels: NO-CHANGELOG

#1957 Bump next and react
  Cargo.lock
  vrc-get-gui/app/(main)/packages/repositories/page.tsx
  vrc-get-gui/components/ui/scroll-area.tsx
  vrc-get-gui/lib/use-effect-event.ts
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/scripts/build-license-json.mjs
  vrc-get-vpm/Cargo.toml
Labels: NO-CHANGELOG

#1958 chore: migrate tailwindcss to v4
  vrc-get-gui/app/(main)/dev-palette/page.tsx
  vrc-get-gui/app/(main)/layout.tsx
  vrc-get-gui/app/(main)/log/page.tsx
  vrc-get-gui/app/(main)/packages/repositories/page.tsx
  vrc-get-gui/app/(main)/packages/repositories/use-add-repository.tsx
  vrc-get-gui/app/(main)/packages/tab-selector.tsx
  vrc-get-gui/app/(main)/packages/user-packages/page.tsx
  vrc-get-gui/app/(main)/projects/manage/package-list-card.tsx
  vrc-get-gui/app/(main)/projects/manage/page.tsx
  vrc-get-gui/app/(main)/projects/page.tsx
  vrc-get-gui/app/(main)/projects/project-row.tsx
  vrc-get-gui/app/(main)/settings/page.tsx
  vrc-get-gui/app/(setup)/layout.tsx
  vrc-get-gui/app/(setup)/setup/setup-page-base.tsx
  vrc-get-gui/app/error.tsx
  vrc-get-gui/app/globals.css
  vrc-get-gui/components/ScrollableCard.tsx
  vrc-get-gui/components/SearchBox.tsx
  vrc-get-gui/components/SideBar.tsx
  vrc-get-gui/components/common-setting-parts.tsx
  vrc-get-gui/components/layout.tsx
  vrc-get-gui/components/ui/button.tsx
  vrc-get-gui/components/ui/card.tsx
  vrc-get-gui/components/ui/checkbox.tsx
  vrc-get-gui/components/ui/dropdown-menu.tsx
  vrc-get-gui/components/ui/input.tsx
  vrc-get-gui/components/ui/radio-group.tsx
  vrc-get-gui/components/ui/select.tsx
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/postcss.config.js
  vrc-get-gui/tailwind.config.ts
Labels: NO-CHANGELOG

#1962 chore(l10n): [zh_Hans] update locale for #1808
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1964 chore(l10n): [de_DE] update locale and line-break fix for en.
  vrc-get-gui/locales/de.json5
  vrc-get-gui/locales/en.json5
Labels: localization

#1967 chore(l10n): [zh_Hans] fix line breaks
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#1969 fix: system dark mode
  vrc-get-gui/app/globals.css
Labels: NO-CHANGELOG

#1973 chore(l10n): [ja] update locale
  vrc-get-gui/locales/ja.json5
Labels: localization

#1974 fix: tanstack router devtools location
  vrc-get-gui/app/__root.tsx
Labels: NO-CHANGELOG

#1989 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#1991 fix(gui): text style for "remove project"
  vrc-get-gui/app/_main/projects/manage/index.tsx
Labels: NO-CHANGELOG

#1998 chore: use @tailwindcss/vite
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
  vrc-get-gui/postcss.config.js
  vrc-get-gui/vite.config.ts
Labels: dependencies, NO-CHANGELOG

#2000 chore(deps): rmeove tailwindcss from direct dev dependencies
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG

#2016 chore: group dependabot updates for tanstack router and tailwindcss
  .github/dependabot.yml
Labels: NO-CHANGELOG

#2023 chore(deps): bunp litedb crate
  Cargo.lock
  vrc-get-vpm/Cargo.toml
Labels: dependencies, NO-CHANGELOG

#2024 Rephrase button text added in #2020 and Update locale for ja
  vrc-get-gui/app/_main/projects/manage/-package-list-card.tsx
  vrc-get-gui/locales/en.json5
  vrc-get-gui/locales/ja.json5
Labels: vrc-get-gui, localization

#2025 Updated french translation 1.0.2-beta.0
  vrc-get-gui/locales/fr.json5
Labels: localization

#2038 chore(l10n): [zh_Hans] update locale
  vrc-get-gui/locales/zh_hans.json5
Labels: localization

#2021 chore(l10n): [de_DE] update locale
  vrc-get-gui/locales/de.json5
Labels: localization

#2040 Frontend refactors: useMutatuion, react-call-like dialog, dialog close animation
  vrc-get-gui/app/_main/log/index.tsx
  vrc-get-gui/app/_main/packages/repositories/-use-add-repository.tsx
  vrc-get-gui/app/_main/packages/repositories/-use-import-repositories.tsx
  vrc-get-gui/app/_main/packages/repositories/index.tsx
  vrc-get-gui/app/_main/packages/user-packages/index.tsx
  vrc-get-gui/app/_main/projects/-create-project.tsx
  vrc-get-gui/app/_main/projects/-project-row.tsx
  vrc-get-gui/app/_main/projects/-projects-list-card.tsx
  vrc-get-gui/app/_main/projects/index.tsx
  vrc-get-gui/app/_main/projects/manage/-package-list-card.tsx
  vrc-get-gui/app/_main/projects/manage/-unity-migration.tsx
  vrc-get-gui/app/_main/projects/manage/-use-package-change.tsx
  vrc-get-gui/app/_main/projects/manage/index.tsx
  vrc-get-gui/app/_main/route.tsx
  vrc-get-gui/app/_main/settings/index.tsx
  vrc-get-gui/app/_setup/setup/-setup-page-base.tsx
  vrc-get-gui/app/_setup/setup/backups/index.tsx
  vrc-get-gui/app/_setup/setup/project-path/index.tsx
  vrc-get-gui/app/_setup/setup/system-setting/index.tsx
  vrc-get-gui/app/_setup/setup/unity-hub/index.tsx
  vrc-get-gui/biome.jsonc
  vrc-get-gui/components/BackupProjectDialog.tsx
  vrc-get-gui/components/CheckForUpdateMessage.tsx
  vrc-get-gui/components/RemoveProjectDialog.tsx
  vrc-get-gui/components/common-setting-parts.tsx
  vrc-get-gui/components/providers.tsx
  vrc-get-gui/components/unity-selector-dialog.tsx
  vrc-get-gui/lib/backup-project.tsx
  vrc-get-gui/lib/dialog.tsx
  vrc-get-gui/lib/main.tsx
  vrc-get-gui/lib/open-unity.tsx
  vrc-get-gui/lib/polyfill.ts
  vrc-get-gui/lib/query-client.ts
  vrc-get-gui/lib/remove-project.tsx
  vrc-get-gui/lib/use-file-picker-dialog.tsx
  vrc-get-gui/lib/use-open-unity.tsx
  vrc-get-gui/lib/use-tauri-listen.ts
  vrc-get-gui/lib/use-unity-selector-dialog.tsx
  vrc-get-gui/lib/useSessionStorage.ts
Labels: NO-CHANGELOG

#2042 chore(l10n): [zh_hant] update locale
  vrc-get-gui/locales/zh_hant.json5
Labels: localization

#2043 several frontend small migrations
  vrc-get-gui/app/_main/projects/-project-row.tsx
  vrc-get-gui/app/_main/projects/manage/-page-context.tsx
  vrc-get-gui/app/globals.css
  vrc-get-gui/components.json
  vrc-get-gui/components/ScrollableCardTable.tsx
  vrc-get-gui/components/SearchBox.tsx
  vrc-get-gui/components/ui/accordion.tsx
  vrc-get-gui/components/ui/button.tsx
  vrc-get-gui/components/ui/card.tsx
  vrc-get-gui/components/ui/checkbox.tsx
  vrc-get-gui/components/ui/dialog.tsx
  vrc-get-gui/components/ui/dropdown-menu.tsx
  vrc-get-gui/components/ui/input.tsx
  vrc-get-gui/components/ui/label.tsx
  vrc-get-gui/components/ui/progress.tsx
  vrc-get-gui/components/ui/radio-group.tsx
  vrc-get-gui/components/ui/scroll-area.tsx
  vrc-get-gui/components/ui/select.tsx
  vrc-get-gui/components/ui/separator.tsx
  vrc-get-gui/components/ui/tooltip.tsx
  vrc-get-gui/package-lock.json
  vrc-get-gui/package.json
Labels: NO-CHANGELOG, frontend

#2044 chore: remove unnecessary special handling for unity 6 implemented before Unity 6000 release
  vrc-get-vpm/src/version/unity_version.rs
Labels: NO-CHANGELOG

#2048 fix: unable to remove repository
  vrc-get-gui/app/_main/packages/repositories/index.tsx
Labels: NO-CHANGELOG
